{% extends "maestraAdmin.html" %}
{% block titulo %}
Agregar Colores
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Color de Prenda</h3>
            <form action="{{url_for('guardar_color_prenda')}}" method="post">
                <label for="nombre_color">Color de Prenda:</label>
                <input type="text" class="input" placeholder="nombre_color" name="nombre_color" id="nombre_color">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('color_prenda')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}