{% extends "maestraAdmin.html" %}
{% block titulo %}
Editar temporada
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar temporada</h3>
            <form action="{{url_for('actualizar_temporada')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{temporada_prendas[0]}}">
                <label for="nombre_temporada">Nombre Temporada:</label>
                <input value="{{temporada_prendas[1]}}" type="text" class="input" placeholder="Nombre temporada" name="nombre_temporada" id="nombre_temporada">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('temporada_prenda')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}