{% extends "maestraUsuario.html" %}

{% block titulo %}
TORMENTA
{% endblock %}

{% block contenido %}
<main>

    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename='client/img/banner-mujer.jpg') }}" class="d-block w-100 my-3"
            alt="Imagen 2">
    </div>

    <div class="container-fluid justify-content-center d-block d-sm-block d-dm-flex d-lg-flex d-xl-flex  w-100 co">

        <div class="productos col-12 col-sm-12 col-md-12 col-lg-9 col-xl-10">

            <!--###################################### CONTENEDOR DE PRENDAS ######################################-->

            <div class="img-prod d-flex flex-wrap justify-content-center w-100 ">



                {% for prenda in prendas %}
                <a href="{{url_for('detallePrenda', id=prenda[0])}}">
                    <div class="m-3 contenedor-descuento-promo" id="">
                        <img src="{{ url_for('static', filename='products/' + prenda[3]) }}" alt={{prenda[1]}}>
                        <input type="hidden" name="id" value="{{prenda[0]}}">
                        <p class="text-center nombre_prod">{{prenda[2]}}</p>
                        <p class="prec-act"> <span> S/. <span id="precio3">{{prenda[4]}}</span></span>
                        </p>
                        <i class='bx bxs-heart cora1'></i>
                    </div>
                </a>
                {% endfor %}
            </div>

            <!--###################################### FIN CONTENEDOR DE PRENDAS ######################################-->

            <!--###################################### PAGINACIÓN INICIO ######################################-->

            <div class="btn-toolbar justify-content-center m-3 " role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2 d-flex flex-wrap" role="group" aria-label="First group">
                    {{ pagination.links }}
                </div>
            </div>

            <!--###################################### PAGINACIÓN FIN ######################################-->

        </div>
    </div>

</main>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='client/js/paginacion.js')}}"></script>
<script src="{{url_for('static', filename='client/js/corazon.js')}}"></script>
<script src="{{url_for('static', filename='client/js/cargarCantProductos.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
{% endblock %}