<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/nosotros.css">
    <link rel="stylesheet" href="css/creadores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>TrimWeb</title>
</head>

<body>
    <header class="m-0 mx-2 align-items-center">

    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand px-xl-5 px-lg-5 px-sm-0" href="#">TrimWeb</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quiénes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <button class="btn btn-outline-dark btn-cotiza" type="submit">Cotiza Ahora</button>
                </form>
            </div>
        </div>
    </nav>
    <main>

        <section class="panta-princi mb-4 py-5 container-fluid">

            <div class="d-flex flex-wrap  justify-content-around align-items-center">

                <div class="panta-princi-img col-2 col-xl-3 mb-4 mb-sm-4 mb-md-0 mb-lg--0 mb-xl-0">
                    <div class="circulo">
                        <div class="imagen">
                            <img src="img/ft_juan.jpeg" alt="" />
                            <span></span>
                        </div>
                    </div>
                </div>
                <div
                    class="contenido col-10 col-sm-10 col-md-7 col-lg-7 col-xl-7 integrante d-flex align-items-center flex-wrap justify-content-between">
                    <div>
                        <h1 class="">Hola, soy Juan.D Chiscol Patazca</h1>
                        <h5>Uno de los creadores de la pagina</h5>
                    </div>

                    <div class="panta-princi-sci">
                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-block ">
                            <a href="https://twitter.com/ChiscolJuan" style="--j: 3"
                                class="d-flex align-items-center justify-content-center"><i
                                    class="bx bxl-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/chiscol-patazca-juan-d-150131214/" style="--j: 4"
                                class="d-flex align-items-center justify-content-center"><i
                                    class="bx bxl-linkedin"></i></a>
                            <a href="https://github.com/juanchiscol" style="--j: 5"
                                class="d-flex align-items-center justify-content-center"><i
                                    class="bx bxl-github"></i></a>
                        </div>

                    </div>
                </div>




            </div>

            <div class="d-flex justify-content-around mt-5 flex-wrap">

                <div style="margin-bottom: 100px;">
                    <div class="panta-princi-img2 col-3">
                        <div class="circulo2">
                            <div class="imagen2">
                                <img src="img/ft_andree.jpeg" alt="" />
                                <span></span>
                            </div>
                        </div>
                        <div class="mt-4 name">
                            <h5 class="text-center">Andree Requejo</h5>
                        </div>
                    </div>

                </div>
                <div style="margin-bottom: 100px;">
                    <div class="panta-princi-img2 col-3">
                        <div class="circulo2">
                            <div class="imagen2">
                                <img src="img/ft_juana.jpeg" alt="" />
                                <span></span>
                            </div>
                        </div>
                        <div class="mt-4 name">
                            <h5>Juana Isique</h5>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 100px;">
                    <div class="panta-princi-img2 col-3">
                        <div class="circulo2">
                            <div class="imagen2">
                                <img src="img/ft_claudio.jpg" alt="" />
                                <span></span>
                            </div>
                        </div>
                        <div class="mt-4 name">
                            <h5 class="text-center">Claudio Vásquez</h5>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 100px;">
                    <div class="panta-princi-img2 col-3">
                        <div class="circulo2">
                            <div class="imagen2">
                                <img src="img/ft_edu.jpeg" alt="" />
                                <span></span>
                            </div>
                        </div>
                        <div class="mt-4 name">
                            <h5 class="text-center">Edu Bustamante</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div>
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-md-12 text-center text-dark">
                        <h1 class="text-dark" style="font-size: 55px; font-family: 'Lexend', sans-serif;">Nuestros
                            últimos <strong>proyectos</strong></h1>
                    </div>
                </div>
                <div class="d-flex justify-content-around flex-wrap ">

                    <div class=" col-md-3 m-2  project">
                        <a target="_blank" href="#">

                            <img src="img/coinbase.png" style="width: 100%;">

                            <h3>Coinbase</h3>

                            <span class="dia">27 de Enero de 2022</span>
                            <div class="mas_info d-flex justify-content-end">

                            </div>
                        </a>
                    </div>

                    <div class=" col-md-3 m-2 project">
                        <a target="_blank" href="index.html">


                            <img src="img/pagina_tormenta.png" style="width: 100%;">

                            <h3>Tienda Tormenta</h3>

                            <span class="dia">12 de Julio de 2023</span>
                            <div class="mas_info d-flex justify-content-end">

                            </div>
                        </a>
                    </div>

                    <div class=" col-md-3 m-2 project">
                        <a target="_blank" href="#">

                            <img src="img/travelaft.png" style="width: 100%;">

                            <h3>Travelaft</h3>

                            <span class="dia">27 de Enero de 2022</span>
                            <div class="mas_info d-flex justify-content-end">

                            </div>
                        </a>
                    </div>



                </div>
            </div>
        </div>
        <div class="container mx-5 my-4 zPreguntas" id="accordionPanelsStayOpenExample">
            <!--Datos-->
            <div class=" frm_1 px-5 py-4 mb-5 rounded">
                <h3 class="fs-3 mb-4">CUÉNTANOS</h3>
                <h5 class="fs-6 mb-4 text-center">EN QUÉ TE PODEMOS AYUDAR</h5>
                <form>
                    <div>

                        <!--Departamentos-->
                        <div class="row g-2 g-md-3 mb-3">
                            <div class="col-lg col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="NN">
                                    <label for="floatingInput">Tu nombre*</label>
                                </div>
                            </div>
                            <div class="col-lg col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="+00 000 000 000">
                                    <label for="floatingInput">Teléfono*</label>
                                </div>
                            </div>
                            <div class="col-lg col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email*</label>
                                </div>
                            </div>
                        </div>




                        <div class="row g-2 g-md-3 mb-3">
                            <div class="col-lg col-md-12">
                                <select class="form-select form-control " aria-label="Default select example">
                                    <option selected class="opcionSelect">Tipo Documento*</option>
                                    <option value="1">DNI</option>
                                    <option value="2">RUC</option>
                                    <option value="3">Pasaporte</option>
                                    <option value="4">Carnet de extranjería</option>
                                </select>
                            </div>
                            <div class="col-lg col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="9999999">
                                    <label for="floatingInput">N° Documento*</label>
                                </div>
                            </div>
                            <div class="col-lg col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="9999999">
                                    <label for="floatingInput">Nombre de la empresa*</label>
                                </div>
                            </div>
                        </div>



                        <div class="row g-2 g-md-3 mb-3">
                            <div class="col-lg col-md-12">
                                <select class="form-select form-control " aria-label="Default select example">
                                    <option selected class="opcionSelect">Tipo de Proyecto*</option>
                                    <option value="1">Sitio Web Informativo</option>
                                    <option value="2">E-commerce</option>
                                    <option value="3">Aplicacion Web</option>
                                </select>
                            </div>

                        </div>



                        <!--Departamentos-->
                        <div class="row g-2 g-md-3 mb-3">
                            <div class="col-lg col-md-12">
                                <select class="form-select form-control " aria-label="Default select example">
                                    <option selected class="opcionSelect">Departamento*</option>
                                    <option value="1">Amazonas</option>
                                    <option value="2">Áncash</option>
                                    <option value="3">Lambayeque</option>
                                </select>
                            </div>
                            <div class="col-lg col-md-12">
                                <select class="form-select form-control " aria-label="Default select example">
                                    <option selected class="opcionSelect">Provincia*</option>
                                    <option value="1">Lambayeque</option>
                                    <option value="2">Ferreñafe</option>
                                    <option value="3">Chiclayo</option>
                                </select>
                            </div>
                            <div class="col-lg col-md-12">
                                <select class="form-select form-control " aria-label="Default select example">
                                    <option selected class="opcionSelect">Distrito*</option>
                                    <option value="1">Cayaltí</option>
                                    <option value="2">Chiclayo</option>
                                    <option value="3">Chongoyape</option>
                                    <option value="4">Eten</option>
                                    <option value="5">José Leonardo Ortiz</option>
                                    <option value="6">La Victoria</option>
                                    <option value="7">Lagunas</option>
                                    <option value="8">Monsefú</option>
                                    <option value="9">Nueva Arica</option>
                                </select>
                            </div>
                        </div>
                        <!--Contactos-->

                    </div>
                    <div class="row g-2 g-md-3 mb-3">
                        <div class="col-lg col-md-12">
                            <h6>¿En cuál de estos rangos de inversión está dispuesto a adquirir un servicio de
                                desarrollo para su empresa?</h6>
                            <select class="form-select form-control " aria-label="Default select example">
                                <option selected class="opcionSelect">Seleccione una opccion*</option>
                                <option value="1">Rango A</option>
                                <option value="2">Rango B</option>
                                <option value="3">Rango C</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Sobre tu proyecto</label>
                    </div>
                    <div class="enviar_pe">
                        <button type="button">Enviar</button>

                    </div>

                </form>
            </div>
        </div>
        <div class="boton-flotante">
            <a href="mailto:trimweb@corp.com">
                <span>Contactanos</span>
                <i class='bx bx-envelope'></i>
            </a>

        </div>
    </main>

    <footer class="container-fluid py-4 text-center text-light">
        © 2023 Copyright: TrimWeb
    </footer>

    <script src="js/creadores.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>