{% extends "maestraUsuario.html" %}

{% block titulo %}
TORMENTA
{% endblock %}

{% block contenido %}
    <main>

        <div class="container d-block d-sm-flex d-dm-flex d-lg-flex d-xl-flex  w-100 my-5">
            <div class="contenedor">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('catalogoPrendas')}}">Todas las prendas</a></li>
                        <li class="breadcrumb-item"><a href="{{url_for('catalogoPrendas')}}">Mujeres</a></li>
                    </ol>
                </nav>
                <div class="col-12 d-block d-sm-flex d-dm-flex d-lg-flex d-xl-flex  ">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="det-bordr">
                            <img src="{{ url_for('static', filename='products/' + prenda[3]) }}" alt={{prenda[0]}} id="imgPrincipal" style="width: 70%;">
                            <div class="det det-bordr my-3 d-flex flex-wrap">
                                <img src="{{ url_for('static', filename='products/' + prenda[3]) }}"
                                    alt="">
                                <img src="{{ url_for('static', filename='products/' + prenda[3]) }}"
                                    alt="" class="mx-4">
                                <img src="{{ url_for('static', filename='products/' + prenda[3]) }}"
                                    alt="">
                            </div>
                            <p class="descrip" style="width: 94%;">{{prenda[2]}}</p>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h3 id="nombreProducto">{{prenda[1]}}</h3>
                        <hr class="container-fluid">
                        <div class="d-flex ">

                            <p class="prec-act"> <span> S/. <span id="precioOferta">{{prenda[7]}}</span></span>
                            </p>
                        </div>
                        <div class="talla">
                            <p style="font-family :Lexend, sans-serif; color: #606060;">Talla</p>
                            <select class="form-select combox " aria-label="Combo box" id="talla" name="talla">
                                <option selected>Selecciona el modelo</option>
                                {% for talla in tallas %}
                                <option value={{talla[0]}}>{{talla[0]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="cantidad mt-4">
                            <p style="font-family :Lexend, sans-serif; color: #606060;">Cantidad</p>

                            <input type="number" class="inpt" id="cantidad" value="1" min="1">
                        </div>
                        <div class="agregar mt-4 d-flex align-items-center ">
                            <button type="button" class="addCarrito"><i class='bx bx-cart-add'></i> Agregar al
                                Carrito</button>
                        </div>

                        <div class="informa-adicio mt-5">
                            <div class="infor-adi my-3">
                                <div class="align-items-center">
                                    <a class="" role="button" href="#inf-ad" data-bs-toggle="collapse"
                                        aria-controls="inf-ad" aria-expanded="false">
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span>Informacion Adicional</span> <span class="triangle"></span>

                                        </div>
                                    </a>
                                </div>

                                <div class="collapse  mt-2" id="inf-ad">
                                    <p>
                                    <ul>
                                        <li>Categoría de Prenda: {{prenda[4]}}</li>
                                        <li>Material: {{prenda[5]}}</li>
                                        <li>Temporada: {{prenda[6]}}</li>
                                    </ul>
                                    </p>

                                </div>


                            </div>
                        </div>
                        <hr class="container-fluid">
                        <div class="informa-envio mt-1">
                            <div class="infor-env my-3">
                                <div class="align-items-center">
                                    <a class="" role="button" href="#inf-en" data-bs-toggle="collapse"
                                        aria-controls="inf-en" aria-expanded="false">
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <span>Informacion de envio</span> <span class="triangle"></span>

                                        </div>
                                    </a>
                                </div>

                                <div class="collapse  mt-2" id="inf-en">
                                    <p>
                                        Para los pedidos con "Recojo en Tienda" los tiempos pueden variar. Se notificará
                                        vía email cuando su pedido esté listo para recojo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% endblock %}

    {% block js %}
    <script src="{{url_for('static', filename='client/js/cargarCantProductos.js')}}"></script>
    <script src="{{url_for('static', filename='client/js/carritoCompras.js')}}"></script>
    <script src="{{url_for('static', filename='client/js/paginacion.js')}}"></script>
    <script src="{{url_for('static', filename='client/js/corazon.js')}}"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    {% endblock %}