{% extends "maestraUsuario.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='client/css/datos.css') }}">{% endblock %}

{% block titulo %} MI CUENTA - TORMENTA {% endblock %}

{% block contenido %}
<div class="container mt-4">

    <div class="d-sm-block d-md-flex d-lg-flex d-xl-flex align-items-center">
        <div class="d-flex justify-content-center mx-4">
            <img src="{{ url_for('static', filename='client/img/f1.jpg') }}" alt="...">
        </div>
        <div
            class=" text-center text-sm-center text-md-start text-lg-start text-xl-start info-usuario mt-3 mt-sm-3 mt-md-0 mt-lg-0 mt-xl-0 ">
            <h3>BIENVENIDO/A</h3>
            <h1 class="m-0">JUAN DAVID CHISCOL PATAZCA</h1>
        </div>
    </div>

    <hr class="container">
</div>

<div class="container mt-4 d-block d-sm-block d-md-block d-lg-flex d-xl-flex ">
    <div class="col-12 col-sm-12 col-dm-3 col-lg-3 col-xl-3 naveg ">
        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="{{url_for('mi_cuenta')}}">
            <span class="d-flex align-items-center">
                <i class='bx bxs-user-circle text-body-secondary'></i>
                Mi cuenta
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="#">
            <span class="d-flex align-items-center">
                <i class='bx bxs-map text-body-secondary'></i> Direcciones
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="{{url_for('misCompras')}}">
            <span class="d-flex align-items-center">
                <i class='bx bxs-cart text-body-secondary'></i> Mis compras
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="{{url_for('mediosPago')}}">
            <span class="d-flex align-items-center">
                <i class='bx bxs-dollar-circle text-body-secondary'></i> Medios de pago
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="{{url_for('procesar_logout')}}">
            <span class="d-flex align-items-center">
                <i class='bx bx-x-circle text-body-secondary'></i> Cerrar sesión
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>
    </div>

    <div class="col-12 col-sm-12 col-dm-9 col-lg-9 col-xl-9 mx-xl-5 mb-4">
        <div class="d-flex justify-content-between align-items-center titulo-direcciones">
            <h1 class="m-2">Direcciones</h1>
        </div>

        <div class="form-check direcciones-local d-flex my-5 flex-wrap">
            <div class=" d-flex align-items-center col-sm-12 col-md-8 col-lg-8 col-xl-8 dire ">
                <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                    checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    450, Av. Balta, CHICLAYO, CHICLAYO, LAMBAYEQUE
                </label>
            </div>

            <div
                class="d-flex col-sm-12 col-md-4 col-lg-4 col-xl-4  justify-content-around align-items-center ">
                <a href="" class="text-decoration-none editar " data-bs-toggle="modal"
                    data-bs-target="#estatico">
                    <i class='bx bxs-pencil align-self-center'></i>Editar
                </a>

                <a href="" class="text-decoration-none eliminar">
                    <i class='bx bx-x'></i>Eliminar
                </a>
            </div>

        </div>




        <div
            class="d-flex flex-wrap justify-content-center justify-content-sm-between justify-content-md-between justify-content-lg-between justify-content-xl-between">
            <button class=" bt btn-block" type="button" data-bs-toggle="modal"
                data-bs-target="#nuevaDir">Agregar
                Dirección</button>

            <button type="button" class="bp mt-3 mt-sm-0  mt-dm-0 mt-lg-0 mt-xl-0">Guardar</button>

        </div>


    </div>

</div>

        <!-- Ventana modal -->
        <div class="modal fade" id="estatico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered px-4">
                <div class="modal-content">
                    <div class="modal-header d-flex flex-column gap-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <i class='bx bxs-home bx-md' style='color:#717fe0'></i>
                            <h5 class="modal-title" id="titulo-modal">Editar dirección</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <div class="form-group row gy-4">
                                <div class="input-group col-12">
                                    <label class="visually-hidden"
                                        for="specificSizeInputGroupUsername">Departamento</label>
                                    <select class="form-select">
                                        <option selected>Departamento</option>
                                        <option value="1">Lambayeque</option>
                                    </select>
                                </div>
                                <div class="input-group col-12">
                                    <label class="visually-hidden"
                                        for="specificSizeInputGroupUsername">Provincia</label>
                                    <select class="form-select">
                                        <option selected>Provincia</option>
                                        <option value="1">Lambayeque</option>
                                        <option value="2">Ferreñafe</option>
                                        <option value="3">Chiclayo</option>
                                    </select>
                                </div>
                                <div class="input-group col-12">
                                    <label class="visually-hidden" for="specificSizeInputGroupUsername">Distrito</label>
                                    <select class="form-select">
                                        <option selected>Distrito</option>
                                        <option value="1">Chiclayo</option>
                                        <option value="2">José Leonardo Ortiz</option>
                                        <option value="3">La Victoria</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label class="visually-hidden"
                                        for="specificSizeInputGroupUsername">Avenida/Calle/Jirón</label>
                                    <input type="text" class="form-control" placeholder="Avenida/Calle/Jirón">
                                </div>
                                <div class="col-12">
                                    <label class="visually-hidden" for="specificSizeInputGroupUsername">Dpto. / Interior
                                        / Lote / Bloque (Opcional)</label>
                                    <input type="text" class="form-control"
                                        placeholder="Dpto. / Interior / Lote / Bloque (Opcional)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mx-4 mt-3 mb-5">
                        <button class="bp" type="button">Guardar</button>
                        <button class="bt mt-2" type="button">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="nuevaDir" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered px-4">
                <div class="modal-content">
                    <div class="modal-header d-flex flex-column gap-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <i class='bx bxs-home bx-md' style='color:#717fe0'></i>
                            <h5 class="modal-title" id="titulo-modal">Nueva dirección</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <div class="form-group row gy-4">
                                <div class="input-group col-12">
                                    <label class="visually-hidden"
                                        for="specificSizeInputGroupUsername">Departamento</label>
                                    <select class="form-select" <option selected>Departamento</option>
                                        <option value="1">Lambayeque</option>
                                    </select>
                                </div>
                                <div class="input-group col-12">
                                    <label class="visually-hidden"
                                        for="specificSizeInputGroupUsername">Provincia</label>
                                    <select class="form-select" <option selected>Provincia</option>
                                        <option value="1">Lambayeque</option>
                                        <option value="2">Ferreñafe</option>
                                        <option value="3">Chiclayo</option>
                                    </select>
                                </div>
                                <div class="input-group col-12">
                                    <label class="visually-hidden" for="specificSizeInputGroupUsername">Distrito</label>
                                    <select class="form-select" <option selected>Distrito</option>
                                        <option value="1">Chiclayo</option>
                                        <option value="2">José Leonardo Ortiz</option>
                                        <option value="3">La Victoria</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label class="visually-hidden"
                                        for="specificSizeInputGroupUsername">Avenida/Calle/Jirón</label>
                                    <input type="text" class="form-control" placeholder="Avenida/Calle/Jirón">
                                </div>
                                <div class="col-12">
                                    <label class="visually-hidden" for="specificSizeInputGroupUsername">Dpto. / Interior
                                        / Lote / Bloque (Opcional)</label>
                                    <input type="text" class="form-control"
                                        placeholder="Dpto. / Interior / Lote / Bloque (Opcional)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mx-4 mt-3 mb-5">
                        <button class="bp" type="button">Guardar</button>
                        <button class="bt mt-2" type="button">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script src="js/cargarCantProductos.js"></script> {% endblock %}
