{% extends "maestraUsuario.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='client/css/datos.css') }}">{% endblock %}

{% block titulo %} MI CUENTA - TORMENTA {% endblock %}

{% block contenido %}
<div class="container mt-4">

    <div class="d-sm-block d-md-flex d-lg-flex d-xl-flex align-items-center">
        <div class="d-flex justify-content-center mx-4">
            <img src="{{ url_for('static', filename='client/img/f1.jpg') }}" alt="...">
        </div>
        <div
            class=" text-center text-sm-center text-md-start text-lg-start text-xl-start info-usuario mt-3 mt-sm-3 mt-md-0 mt-lg-0 mt-xl-0 ">
            <h3>BIENVENIDO/A</h3>
            <h1 class="m-0">JUAN DAVID CHISCOL PATAZCA</h1>
        </div>
    </div>

    <hr class="container">
</div>

<div class="container mt-4 d-block d-sm-block d-md-block d-lg-flex d-xl-flex ">
    <div class="col-12 col-sm-12 col-dm-3 col-lg-3 col-xl-3 naveg ">
        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
            href="{{url_for('mi_cuenta')}}">
            <span class="d-flex align-items-center">
                <i class='bx bxs-user-circle text-body-secondary'></i>
                Mi cuenta
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="{{url_for('direcciones')}}">
            <span class="d-flex align-items-center">
                <i class='bx bxs-map text-body-secondary'></i> Direcciones
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
            href="{{url_for('misCompras')}}">
            <span class="d-flex align-items-center">
                <i class='bx bxs-cart text-body-secondary'></i> Mis compras
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
            href="#">
            <span class="d-flex align-items-center">
                <i class='bx bxs-dollar-circle text-body-secondary'></i> Medios de pago
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>

        <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
            href="{{url_for('procesar_logout')}}">
            <span class="d-flex align-items-center">
                <i class='bx bx-x-circle text-body-secondary'></i> Cerrar sesión
            </span>
            <i class='bx bx-chevron-right'></i>
        </a>
    </div>

    <div class="container col-12 col-sm-12 col-dm-9 col-lg-9 col-xl-9 mx-xl-5 mb-4">
        <div class="d-flex justify-content-between titu-medio-pago">
            <h1>Mis medios de pago</h1>
        </div>

        <div class="d-flex align-items-center my-3 titu-medio-pago">
            <h5 class="m-0 col-5">Tarjetas de Crédito/Débito</h5>
            <i class="bx bx-credit-card col-5 ms-5 ms-sm-0 ms-md-0 ms-lg-0 ms-xl-0"></i>
        </div>

        <div class="container box-medio-pago">
            <div>
                <div class="d-flex align-items-center py-3 flex-wrap ">
                    <div class="col-6 col-md-2 col-lg-2 col-xl-2">
                        <img src="{{ url_for('static', filename='client/img/visa-2.jpg') }}" class="img-fluid img-thumbnail jk-img" alt="...">
                    </div>

                    <div class="col-6 col-md-5 col-lg-5 col-xl-5 datos-tarjeta">
                        <p class="nom-tar mb-3">VISA ****0744 Caduca el 05/26</p>
                        <p class="nom-usua-tar m-0">Juan David Chiscol Patazca</p>
                    </div>

                    <div class="col-12 col-md-5 col-lg-5 col-xl-5 mt-4 mt-sm-4 mt-md-0 mt-lg-0 mt-xl-0 ">
                        <div class="d-flex col-12 justify-content-end confir-metod-pag">
                            <input class="form-check-input btn-fj d-flex justify-content-end" type="checkbox" value=""
                                id="flexCheckChecked">
                            <p class=""> Utilizar como método de pago predeterminado
                            </p>
                        </div>
                        <div class="d-flex col-12 justify-content-end elimi-medio-pago">
                            <p>Elimina este medio de pago</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>






        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button type="button" class=" bp bp-1" data-bs-toggle="modal" data-bs-target="#estatico">Agregar
                medios de pago</button>
        </div>


    </div>

</div>

<!-- Ventana modal -->
<div class="modal fade" id="estatico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex flex-column gap-2">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <i class='bx bx-credit-card bx-md' style='color:#717fe0'></i>
                    <h5 class="modal-title" id="titulo-modal">Ingresa los datos de tu tarjeta</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="col">
                    <div class="form-group row gx-3 gy-4">
                        <div class="col-12">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">N°
                                Tarjeta</label>
                            <div class="input-group">
                                <input type="text" id="inp-1" class="form-control no-bdr"
                                    placeholder="Número de la tarjeta">
                                <div class="input-group-text no-bdl"><i class='bx bx-dock-top bx-sm'
                                        style='color:#a8a8a9'></i></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <input type="text" class="form-control" placeholder="MM/YY" id="text-modal-2">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <label class="visually-hidden" for="specificSizeInputGroupUsername">N°
                                Tarjeta</label>
                            <div class="input-group">
                                <input type="text" id="inp-2" class="form-control no-bdr" aria-label="CVV"
                                    aria-describedby="basic-addon2" placeholder="CVV" id="text-modal-3">
                                <div class="input-group-text no-bdl"><i class='bx bxs-help-circle bx-sm'
                                        style='color:#7c7c7c'></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2 mx-4 mt-3 mb-5">
                <button class="btn btn-primary bp" type="button">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="js/cargarCantProductos.js"></script> {% endblock %}