<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/datos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="img/icono.ico" />
    <title>TORMENTA</title>
</head>

<body>
    <header class="m-0 mx-2 align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light white-light d-flex ">
            <div class="container-fluid">
                <a class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2" href="index.html"><img src="img/logo.jpg"
                        alt=""></a>
                <input type="text" placeholder="Buscar" class=" col-12  col-sm-4 col-md-5 col-lg-5">
                <div class=" col-12  col-sm-3 col-md-3 col-lg-3 col-xl-2 my-4 m-sm-0 m-md-0 m-lg-0 m-xl-0 d-flex justify-content-center align-items-center text-center"
                    id="usu-gus-car">
                    <a href="mi_cuenta.html" style="text-decoration: none; color: black;"><i
                            class='bx bx-user '></i></a>
                    <div class="position-relative">

                        <a href="Lista_de_deseos.html" style="text-decoration: none; color: black;"><i
                                class='bx bx-heart'></i></a>

                        <span class="notification-badge">4</span>
                    </div>

                    <div class="position-relative">
                        <a href="carrito.html" style="text-decoration: none; color: black;">
                            <i class='bx bx-cart'></i></a>

                        <span class="notification-badge" id="totalCarrito">0</span>
                    </div>
                </div>
            </div>



        </nav>
        <div
            class="container-fluid  d-flex flex-wrap  justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">

            <div class="btn-group m-0 m-sm-0 m-md-0 m-lg-0 m-xl-0" role="group">
                <a href="catalogo_masculino.html">
                    <button type="button" class="btn btn-outline-secondary btn-no-border">Varon</button>

                </a>
                <a href="catalogo_femenino.html">
                    <button type="button" class="btn btn-outline-secondary btn-no-border2">Mujer</button>

                </a>
            </div>



            <div class="btn-group  m-3 m-sm-3 m-md-0 m-lg-0 m-xl-0" role="group">
                <a href="catalogo_novedades.html">
                    <button type="button" class="btn btn-outline-secondary btn-no-border">Novedades</button>
                </a>
                <a href="catalogo_ropa.html">
                    <button type="button" class="btn btn-outline-secondary btn-no-border3">Ropa</button>

                </a>
                <a href="catalogo_ropa.html">
                    <button type="button" class="btn btn-outline-secondary btn-no-border2">Ofertas</button>

                </a>


            </div>

        </div>
    </header>
    <main>
        <div class="container mt-4">

            <div class="d-sm-block d-md-flex d-lg-flex d-xl-flex align-items-center">
                <div class="d-flex justify-content-center mx-4">
                    <img src="img/f1.jpg" alt="...">
                </div>
                <div
                    class=" text-center text-sm-center text-md-start text-lg-start text-xl-start info-usuario mt-3 mt-sm-3 mt-md-0 mt-lg-0 mt-xl-0 ">
                    <h3>BIENVENIDO/A</h3>
                    <h1 class="m-0">JUAN DAVID CHISCOL PATAZCA</h1>
                </div>
            </div>

            <hr class="container">
        </div>

        <div class="container mt-4 d-block d-sm-block d-md-block d-lg-flex d-xl-flex ">
            <div class="col-12 col-sm-12 col-dm-3 col-lg-3 col-xl-3 naveg ">
                <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
                    href="mi_cuenta.html">
                    <span class="d-flex align-items-center">
                        <i class='bx bxs-user-circle text-body-secondary'></i>
                        Mi cuenta
                    </span>
                    <i class='bx bx-chevron-right'></i>
                </a>

                <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
                    href="direcciones.html">
                    <span class="d-flex align-items-center">
                        <i class='bx bxs-map text-body-secondary'></i> Direcciones
                    </span>
                    <i class='bx bx-chevron-right'></i>
                </a>

                <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="#">
                    <span class="d-flex align-items-center">
                        <i class='bx bxs-cart text-body-secondary'></i> Mis compras
                    </span>
                    <i class='bx bx-chevron-right'></i>
                </a>

                <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page"
                    href="mediosPago.html">
                    <span class="d-flex align-items-center">
                        <i class='bx bxs-dollar-circle text-body-secondary'></i> Medios de pago
                    </span>
                    <i class='bx bx-chevron-right'></i>
                </a>

                <a class="d-flex justify-content-between align-items-center mb-4" aria-current="page" href="#">
                    <span class="d-flex align-items-center">
                        <i class='bx bx-x-circle text-body-secondary'></i> Cerrar sesión
                    </span>
                    <i class='bx bx-chevron-right'></i>
                </a>
            </div>

            <div class="col-12 col-sm-12 col-dm-9 col-lg-9 col-xl-9 mx-xl-5 mb-4">
                <div class="d-flex justify-content-between align-items-center titulo-compra">
                    <h1 class="m-2">Mis Compras</h1>
                </div>

                <div class="container mt-4 p-0 ">
                    <div class="d-flex col-12 justify-content-between busqueda-selecccion flex-wrap">
                        <input type="text" placeholder="Buscar por N° Compra"
                            class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 ">

                        <div
                            class="d-flex col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3 mt-sm-3 mt-md-0 mt-lg-0  mt-xl-0  filtrar justify-content-end align-items-center">
                            <h4 class="">Filtrar Por:</h4>
                            <select class="form-select " aria-label="Combo box">
                                <option selected>Seleccionar</option>
                                <option value="opcion1">Últimos 6 meses</option>
                                <option value="opcion2">Última Semana</option>
                                <option value="opcion3">Este mes</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-12 detalle-compra mt-5 px-2">
                        <div class="col-12 num-compra-estado">
                            <h4>Compra N° A05631</h4>
                            <h5>Entregado:</h5>

                        </div>
                        <div class=" d-flex col-12 mt-4 flex-wrap">
                            <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 img-prod text-center">
                                <img src="https://cdn.shopify.com/s/files/1/0373/4513/2676/files/DK-FL-00053-BLOP-1_1_1024x1024@2x.jpg?v=1685389999"
                                    alt="">
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 dets-esta-tien">
                                <div class="detalle-compra-estado  ">
                                    <h4>Estado:</h4>
                                    <h5>Entregado</h5>

                                </div>
                                <div class="detalle-compra-tienda">
                                    <h4>Retiro en Tienda:</h4>
                                    <h5>Tienda Tormenta, Av. Bolognesi, 231</h5>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                                <div class="detalle-compra-fecha fech_compra ">
                                    <h4>Fecha de Compra:</h4>
                                    <h5>09/06/2023</h5>
                                </div>
                            </div>
                            <div
                                class="col-12 col-sm-12 col-md-3 col-lg-3 text-center mt-3 mt-sm-3 mt-md-0 mt-lg-0  mt-xl-0 col-xl-3 ver-detalle">
                                <button type="button">Ver detalle</button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </main>


    <footer class="container-fluid pt-4">
        <div class="d-flex flex-wrap">
            <div class="contact d-flex col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="lo-red ">

                    <a href="index.html"><img src="img/logo-nube.png " alt="" class="lo"></a>

                    <div class="redes-sociales">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                    </div>
                </div>
            </div>
            <div class="nosotros col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
                <h4
                    class="d-flex  justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">
                    Nosotros</h4>
                <a href="quienes_somos.html"
                    class="d-flex  justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between ">¿Quiénes
                    somos?</a>
                <a href="contactanos.html"
                    class="d-flex justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between ">Contactanos!</a>
                <a href="terminos_condiciones.html"
                    class="d-flex  justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">Terminos
                    y condiciones</a>
            </div>
            <div class="atencion col-12  col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <h4
                    class="d-flex  justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">
                    Atencion al Cliente</h4>
                <a href="preguntas_frecuentes.html"
                    class="d-flex justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">Preguntas
                    frecuentes</a>
                <a href="libro_reclamaciones.html"
                    class="d-flex justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">Libro
                    de Reclamaciones</a>
                <a href="politicas_privacidad.html"
                    class="d-flex justify-content-center justify-content-sm-center justify-content-md-between justify-content-lg-between justify-content-xl-between">Política
                    de Privacidad</a>
            </div>
            <div class="mapa justify-content-center col-12  col-sm-6 col-md-12 col-lg-3 col-xl-3">
                <img src="img/mapa.jpg" alt="" class="mx-auto d-block ">
                <p class="text-center">
                    D' Ángelo Galeria Comercial,<br>
                    Avenida José Balta, Chiclayo
                </p>
            </div>
        </div>
        <div>
            <div>
                <hr>
                <p> &copy; Tormenta, 30/06/2023 - 12/07/2023</p>
                <div style="display: flex; justify-content: center;">
                    <hr style="width: 50%;">

                </div>
                <a href="creadores.html" target="_blank">
                    <p> Creador por: TrimWeb</p>
                </a>
            </div>
        </div>

    </footer>

    <script src="js/cargarCantProductos.js"></script>
</body>

</html>